body {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
    margin : 30px;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 2em;
    border-bottom : 1px solid black;
    margin : 0 0 0 0;
    padding: 10px 0;
    display: inline-block;
}

h2 em {
    display: inline-block;
    text-align: center;
    line-height: 2.3em;
    background-color: tomato;
    color : white;
    width: 2.3em;
    height: 2.3em;
    border-radius : 50%;
}

h2 small {
    font-size: .6em;
}

 p {
    font-size: 1.6em;
     margin-bottom: 1em;

}
article > p {
    margin-top: 40px;
}

ul.rules {
    font-size: 1.6em;
}

.step {
    background-color: #eeeeee;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.step ul {
    display: inline-block;
    margin : 0;
    padding: 0;
    list-style: none;
    font-size: 1.6em;
}

.step li {
    line-height: 2em;
}

.step p {
    display: block;
    margin : 10px 0 0 0;
}

.step li:not(:last-child):after {
    content : '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: black;
}

.step input[type="submit"],
.step button {
    display: inline-block;
    width: auto;
    margin : 10px 0 0 0;
    line-height: 2em;
}

.step form {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    font-size: 1.6em;
}

.step form .error {
    color : red;
    visibility: hidden;
    display: block;
}

.step form div {
    margin : 5px;
}

.step form div input {
    display: block;
    font-size: 1.6em;
}

.step form div label {
    width: 20%;
}

.links {
    list-style: none;
    margin : 10px;
    padding: 0;
    font-size: 1.7em;
}