#step-1-1 {
    height : 200px;
    position: relative;
}

#step-1-1 .cube {
    position: absolute;
    background-color: tomato;
    width: 40px;
    height : 40px;
}

#step-1-0 .validationMsg {
    color : green;
}

/* STEP 1 */

#step-1-1 {
    position: relative;
}

#step-1-1 .cube {
    position: absolute;
}

#step-1-2 {
    height : 500px;
}